
/* QUADRO PRINCIPAL DA PÁGINA HOME */
.quadro_principal {
    padding: 10px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
    height: auto;
}

.quadro_principal > div {
  border-radius: 5px;
  padding: 0px;
}

.quadro_primario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row: 1/3;
}

.quadro_primario > img {
    border-radius: 5px;
}

.quadro_primario > img:nth-child(1) {
    flex: 1;
    color: black;
    background-color: cadetblue;
}

.quadro_secundario, .quadro_terciario {
    display: grid; 
    border: 1px solid var(--secondary-dark);
    padding: 5px;
    color: black;
}

.quadro_secundario {
    background-color: var(--primary);  
    color: white
}

.quadro_terciario {
    background-color: var(--secondary);  
    color: white
}

.quadro_secundario_item_1, .quadro_terciario_item_1 {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.quadro_secundario_item_1 > div, .quadro_terciario_item_1 > div {
    border-radius: 5px;
}

.quadro_secundario, .quadro_terciario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px 5px 10px !important;
}

.quadro_secundario_item_1, .quadro_terciario_item_1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px !important;
}

.quadro_secundario_item_1 > p > strong, .quadro_terciario_item_1 > p > strong{
    font-size: 1rem;
}

.quadro_secundario_item_2, .quadro_terciario_item_2{
    display: flex;
    flex: 1;
    justify-items: center;
    align-items: center;
    font-size: 0.9rem;
}

.quadro_secundario_item_2 > p, .quadro_terciario_item_2 > p{
    margin-left: 15px;
}

.quadro_secundario_item_3, .quadro_terciario_item_3{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 5px;
}

.quadro_secundario_item_1 > p, .quadro_terciario_item_1 > p {
    position: relative;
    top: 15px;
}

.quadro_quaternario, .quadro_quinario{
    display: flex;
    align-items: flex-end;
}

.quadro_secundario_item_3 > a:nth-child(1), .quadro_terciario_item_3 a:nth-child(1){
    margin-right: 30px;
}

.quadro_quaternario > a , .quadro_quinario > a  {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.quadro_quaternario > a > img, .quadro_quinario > a > img {
    width: 100%;
    height: 90%;
}

.btn_quadro_secundario_1, .btn_quadro_secundario_2{
    color: white;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 4px;
    font-weight: bolder;
    width: 120px;
}

.btn_quadro_terciario_1, .btn_quadro_terciario_2{
    color: white;
    background-color: var(--primary);
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 5px;
    font-weight: bolder;
    width: 120px;
}

.carousel-caption{
    color: #000;
    position: relative;
    left: 0;
    top: 0;
    background-color: #C2C8E2;
    height: 8rem;
    opacity: 0.8;
}

/* .btn-carousel{
    position: relative;
    bottom: 135px;
} */

.carousel-inner{
    border-radius: 5px;
}

.carousel-item > img{
    height: auto;
}

@media only screen and (max-width: 1200px) {

.quadro_principal {
    grid-template-columns: 1fr 1fr;
}

.quadro_primario {
        grid-column: 1/3;
    }
}

@media only screen and (max-width: 768px) {
    .carousel-caption{
        position: initial ;
    }

    .btn-carousel{
        position: initial;
    }

    .quadro_primario {
        grid-column: 1;
    }

    .quadro_principal {
        grid-template-columns: 1fr;
    }

    .carousel-item > img{
        height: auto;
    }
}

@media only screen and (max-width: 540px) {
    .quadro_primario {
        grid-column: 1;
    }

    .quadro_principal {
        grid-template-columns: 1fr;
    }

    .carousel-item > img{
        height: auto;
    }

    .carrossel-tit-noticia{
        font-size: 0.9rem !important;
    }
}

/* CONHEÇA NOSSOS CURSOS */

.conheca_cursos{
    margin-bottom: 100px;
}

.conheca_cursos_item_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.conheca_cursos_item_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.conheca_cursos_item_2 > div > img{
    width: 100%;
}

.conheca_cursos_item_1 > h2 > span{
    color: #B99663;
}

.line{
    display: flex;
    justify-content: center;
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.line > span:nth-child(1) {
    width: 50px;
    margin-right: 3px;
    height: 2px;
    background-color: var(--primary);
}

.line > span:nth-child(2) {
    width: 50px;
    margin-left: 3px;
    height: 2px;
    background-color: #B99663;
}

@media only screen and (max-width: 1200px) {
    .conheca_cursos_item_2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .conheca_cursos_item_2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .conheca_cursos_item_2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* CONCURSOS EMERJ */

.concursos_emerj {
    margin-bottom: 50px;
}

.concursos_emerj_item_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.concursos_emerj_item_1 > h2 > span{
    color: #B99663;
}

.concursos_emerj_item_2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5px;
}

.concursos_emerj_item_2 > div > a > img {
    width: 600px;
    height: 100%;
    flex: 1;
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    .concursos_emerj_item_2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .concursos_emerj_item_2 {
        grid-template-columns: repeat(1, 1fr);
    }
    .concursos_emerj_item_2 > div > a > img {
        width: 100%;
    }
}
/* FIQUE POR DENTRO */

.por-dentro {
    margin-bottom: 100px;
}

.por-dentro_item_1 > h2 > span{
    color: #B99663;
}

.por-dentro_item_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.por-dentro_item_2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.por-dentro_item_2 > div > img{
    width: 100%;
}

@media only screen and (max-width: 1200px) {
   .por-dentro_item_2{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
   .por-dentro_item_2{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 540px) {
    .por-dentro_item_2{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* CONHEÇA A EMERJ */

.conheca_emerj {
    background-color: #25495E;
    padding: 50px 20px 50px 20px;
    margin-bottom: 50px;
}

.conheca_emerj > div{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
    justify-items: center;
    align-items: center;
}

.conheca_emerj > div > h2 {
    width: 300px;
    color: white;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #b99663;
}

.conheca_emerj > div > p {
    width: 800px;
    color: #c2c8e2;
    font-size: 1.1rem;
    line-height: 28px;
}

@media only screen and (max-width: 768px) {
    .conheca_emerj > div > p {
        width: 100%;
    }
}

/* CALENDÁRIO */

.calendario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding: 10px;
    margin-bottom: 50px;
}

.calendario_item_1 > h2 > span, .calendario_item_2 > h2 > span {
    color: #B99663;
}

.calendario_item_1, .calendario_item_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.calendario_item_1 > iframe {
    width: 100%;
    height: 400px;
}

.calendario_item_1 > div {
    margin-top: 10px;
}

.render-calendar{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .calendario{
        grid-template-columns: 1fr;
    }

    .calendario > div > iframe {
        height: 320px;
    }
}

/* INTERESSE */

.interesse{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary);
    padding: 50px;
    color: white;
    margin-bottom: 50px;
}

.interesse_item_1 {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.interesse_item_1 > i{
    font-size: 2rem;
    padding: 20px;
    padding-right: 60px;
    border-right: 2px solid #5AAFE7;
}

.interesse_item_1 > p {
    margin-left: 55px;
    font-size: 1.1rem;
}

.interesse_item_2 > button {
    border: 1px solid white;
    color: white;
    width: 150px;
    font-size: 0.9rem;
    padding: 7px;
    border-radius: 15px;
}

/* SOBRE EMERJ */

.sobre_emerj {
    margin-bottom: 50px;
}

.sobre_emerj_item_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobre_emerj_item_1 > h2 > span {
    color: #C7AB82;
}

.sobre_emerj_item_2 > div > div > div {
    display: flex;
    justify-content: space-around;
}

.sobre_emerj_item_2 > div > div > div > div > span {
  width: 0; 
  height: 0; 
  position: relative;
  left: 50px;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;  
}

#triangulo1{
    border-top: 25px solid var(--primary);
    top: 2px;
}

#triangulo2 {
    border-top: 25px solid var(--secondary);
    opacity: 0.9;
    top: 22px;
}

#text_carousel {
   background-color: var(--primary);
   color: white;
   padding: 50px;
}

#text_carousel2 {
   background-color: var(--secondary);
   color: white;
   position: relative;
   right: 15px;
   top: 15px;
   padding: 50px;
   opacity: 0.9;
   z-index: 3;
}

.imagem_sobre_emerj_item_1{
    position: relative;
    left: 30px;
    bottom: 10px;
}

.imagem_sobre_emerj_item_2{
    position: relative;
    left: 30px;
    top: 5px;
    padding-bottom: 10px;
}

@media only screen and (max-width: 540px) {
    .sobre_emerj_item_2 > div > div > div {
        flex-wrap: wrap;
    }
}

