<header class="container-fuild">
  <div>
      <a href="{{URL}}/site"><img class="logo_emerj" src="{{URL}}/resources/img/logo_emerj_principal.png" alt="EMERJ"></a>
  </div>
  <div>
      <a href="{{URL}}/site" id="link_titulo_emerj"><p id="titulo_emerj">Escola da Magistratura do Estado do Rio de Janeiro</p></a>
  </div>
  
  <div>
      <div id="google_translate_element" class="boxTradutor"></div>
      <a href="javascript:trocarIdioma('es')"><img src="{{URL}}/resources/img/spain.png" alt="ícone da bandeira que traduz para o idioma Espanhol"></a>
      <a href="javascript:trocarIdioma('fr')"><img src="{{URL}}/resources/img/france.png" alt="ícone da bandeira que traduz para o idioma Francês"></a>
      <a href="javascript:trocarIdioma('en')"><img src="{{URL}}/resources/img/united-kingdom.png" alt="ícone da bandeira que traduz para o idioma Inglês"></a>
      <a href="javascript:trocarIdioma('pt')"><img src="{{URL}}/resources/img/brazil.png" alt="ícone da bandeira que traduz para o idioma Português"></a>
  </div>
  <div>
      <a href="https://www.facebook.com/emerjoficial" target="_blank" class="redessociais_menu"><i class="fab fa-facebook-f"></i></a>
      <a href="https://www.instagram.com/emerjoficial/" target="_blank" class="redessociais_menu"><i class="fab fa-instagram"></i></a>
      <a href="https://twitter.com/emerjoficial" target="_blank" class="redessociais_menu"><i class="fab fa-twitter"></i></a>
      <a href="https://www.youtube.com/user/EMERJeventos?feature=mhee" target="_blank" class="redessociais_menu"><i class="fab fa-youtube"></i></a>
      <a href="https://www.flickr.com/photos/emerjoficial/albums" target="_blank" class="redessociais_menu"><i class="fab fa-flickr"></i></a>
      <a href="https://www.tiktok.com/@emerjoficial" target="_blank" class="redessociais_menu"><i class="fab fa-tiktok"></i></a>
  </div>
  <div>
      <div>
          <a href="{{URL}}/pagina/12/71" id="link_faleconosco"><p id="titulo_faleconosco">FALE CONOSCO</p></a>
      </div>
      <div>
          
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <i class="fas fa-search" id="icone_pesquisa"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title pesquisa_home" id="exampleModalLabel"><strong>Pesquisa</strong></span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <script>
                            (function() {
                              var cx = '014822977072635278059:dowoypslcoy';
                              var gcse = document.createElement('script');
                              gcse.type = 'text/javascript';
                              gcse.async = true;
                              gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                              var s = document.getElementsByTagName('script')[0];
                              s.parentNode.insertBefore(gcse, s);
                            })();
                          </script>
                          <gcse:searchbox-only></gcse:searchbox-only>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
          
      </div>  
  </div>
</header>

  <div class="acesso_rapido container">
        <div>
        <a href="{{URL}}/pagina/2/18">
          <i class="acessorapido_magistrados"></i>
          <p>Magistrados</p>
        </a>
        </div>
      <div>
        <a href="{{URL}}/eventos">
            <i class="acessorapido_eventos"></i>
          <p>Eventos</p>
        </a>
      </div>
      <div>
        <a href="{{URL}}/pagina/2/74">
        <i class="acessorapido_cursosabertos"></i>
          <p>Cursos Abertos</p>
        </a>
      </div>
      <div>
          <a href="{{URL}}/pagina/12/73">
            <i class="acessorapido_publicacoes"></i>
          <p>Publicações</p>
        </a>
      </div>
      <div>
          <a href="http://www.emerj.tjrj.jus.br/portal_aluno/index.html" target="_blank">
           <i class="acessorapido_portaldoaluno"></i>
          <p>Portal do Aluno</p>
        </a>
      </div>
      <div>
          <a href="{{URL}}/pagina/4/60">
          <i class="acessorapido_concursos"></i>
          <p>Concursos EMERJ</p>
        </a>
      </div>
      <div>
          <a href="http://virtual.emerj.com.br/" target="_blank">
          <i class="acessorapido_emerjvirtual"></i>
          <p>EMERJ Virtual</p>
        </a>
      </div>
      <div>
          <a href="{{URL}}/pagina/8/12">
          <i class="acessorapido_nucleosdepesquisa"></i>
          <p>Núcleos de Pesquisa</p>
        </a>
      </div>
  </div>

<div id="menu-principal">
  <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <!--a class="navbar-brand" href="{{URL}}/site#container-principal" title="Link para página principal - Tecla de atalho (1)." accesskey="1"></a-->
          <button
           class="navbar-toggler"
           type="button"
           data-bs-toggle="collapse"
           data-bs-target="#navbarNav"
           aria-controls="navbarNav"
           aria-expanded="false"
           aria-label="Toggle navigation"
           >
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNav">
           {{menu}}
         </div>
       </nav>

   </div>
 </div>
 
 <div class="menu_mobile">
    <div>
      <a href="https://www.emerj.tjrj.jus.br/portal_aluno/index.html" target="_blank">
        <i class="acessorapido_portaldoaluno"></i>
        <p>Aluno</p>
      </a>
    </div>
    <div>
      <a href="http://virtual.emerj.com.br/" target="_blank">
        <i class="acessorapido_emerjvirtual"></i>
        <p>Emerj Virtual</p>
      </a>
    </div>
    <div>
      <a href="{{URL}}/site">
          <i class="imagem_emerj"></i>
      </a>
    </div>
    <div>
      <a href="{{URL}}/pagina/2/18">
        <i class="acessorapido_magistrados"></i>
        <p>Magistrados</p>
      </a>
    </div>
    <div>
      <a href="{{URL}}/eventos">
        <i class="acessorapido_eventos"></i>
        <p>Eventos</p>
      </a>
    </div>
 </div>

